# Ignore Everything
*

# Include
!hypr/
!kitty/
!nautilus/
!waybar/
!wofi/
!waypaper/
!quickshell/

!hypr/**
!kitty/**
!nautilus/**
!waybar/**
!wofi/**
!waypaper/**
!quickshell/**

# Keep gitignore files
!.gitignore
