window {
    margin: 0px;
    border: 2px solid #b026ff;
    border-radius: 12px;
    background-color: #000000;
}

#input {
    margin: 5px;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    background-color: #000000;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #000000;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #000000;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 10px;
    border: none;
    color: #ffffff;
}

#entry:selected {
    background-color: #2a003d;
    color: #ffffff;
}
